<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Nhã Nam Bookstore</title>
    <link rel="stylesheet" href="~/Front-end/css/style_navbar.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <p class="navbar-brand">Nhã Nam</p>
            <ul class="navbar-menu">
                <li>@Html.ActionLink("Bán hàng", "vBanhang", "cBanhang")</li>
                <li class="dropdown">
                    <a>Quản lý</a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Quản lý nhân viên", "Index", "cNhanvien")</li>
                        <li>@Html.ActionLink("Quản lý phiếu nhập", "Index", "cPhieunhap")</li>
                        <li>@Html.ActionLink("Quản lý sách", "Index", "cSach")</li>
                        <li>@Html.ActionLink("Quản lý doanh thu", "Index", "cDoanhthu")</li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-right">
                <p class="navbar-user">@HttpContext.Current.Session["User"]</p>
                @Html.ActionLink("Đăng xuất", "Logout", "cDangnhap", null, new { @class = "navbar-user" })
            </div>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="mobile-menu">
                <ul>
                    <li>@Html.ActionLink("Bán hàng", "Index", "Sales")</li>
                    <li class="mobile-dropdown">
                        <a>Quản lý</a>
                        <ul class="mobile-submenu">
                            <li>@Html.ActionLink("Quản lý nhân viên", "Index", "EmployeeManagement")</li>
                            <li>@Html.ActionLink("Quản lý phiếu nhập", "Index", "ReceiptManagement")</li>
                            <li>@Html.ActionLink("Quản lý sách", "Index", "BookManagement")</li>
                            <li>@Html.ActionLink("Quản lý doanh thu", "Index", "RevenueManagement")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Đăng xuất", "Logout", "cDangnhap")</li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Nhã Nam Bookstore</p>
        </footer>
    </div>
    <script src="~/Front-end/js/js_navbar.js"></script>

</body>
</html>