@model List<BTL_NMCNPM_SE.G19_QLNSNhaNam.Models.viewNVPW>
@{
    ViewBag.Title = "Quản lí nhân Viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản Lý Nhân Viên</title>
    <link rel="stylesheet" href="~/Front-end/css/style_employeesManagement.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Quản lý Nhân viên</h1>
        <form id="formSearch" action="/cnhanvien/search" method="post">
            <div class="search-bar">
                <input id="searchtext" name="searchtext" type="text" placeholder="Nhập tên nhân viên để tìm kiếm...">
                <button type="submit" id="searchButton" class="btn btn-search">Tìm kiếm</button>
                <button type="button" id="addButton" class="btn btn-primary">Thêm Nhân Viên</button>
            </div>
        </form>
        <div id="tablenv" class="table-container">
            <table id="employeeTable">
                <thead>
                    <tr>
                        <th>Mã NV</th>
                        <th>Tên NV</th>
                        <th>Ngày sinh</th>
                        <th>Giới tính</th>
                        <th>Địa chỉ</th>
                        <th>Ngày vào làm</th>
                        <th>Trạng thái</th>
                        <th>Vai trò</th>
                        <th>CCCD</th>
                        <th>Lương</th>
                        <th>Số điện thoại</th>
                        <th>Mật khẩu</th>
                        <th>Thao Tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.sMaNV</td>
                            <td>@item.sTenNV</td>
                            <td>@(item.dNgaysinh?.ToString("d/M/yyyy"))</td>
                            <td>@(item.bGioitinh ?? false ? "Nam" : "Nữ")</td>
                            <td>@item.sDiachi</td>
                            <td>@(item.dNgayvaolam?.ToString("d/M/yyyy"))</td>
                            <td>@(item.bTrangthai ?? false ? "Làm" : "Nghỉ")</td>
                            <td>@(item.bVaitro ?? false ? "QL" : "NV")</td>
                            <td>@item.sCCCD</td>
                            <td>@item.fLuong</td>
                            <td>@item.sSĐT</td>
                            <td>************</td>
                            <td class="action-buttons">
                                <button class="edit-btn" onclick="onUpdateNV('@item.sMaNV')">Sửa</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal Form -->
    <div id="employeeModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 id="modalTitle">Thêm Nhân Viên</h2>
            <form action="/cnhanvien/Create" id="employeeForm" method="post">
                <p>Mã nhân viên:</p>
                <input type="text" id="sMaNVI" name="sMaNVI" placeholder="Mã NV">
                <p>Tên nhân viên:</p>
                <input type="text" id="sTenNV" name="sTenNV" placeholder="Tên NV">
                <p>Ngày sinh:</p>
                <input type="date" id="dNgaysinh" name="dNgaysinh" placeholder="Ngày sinh">
                <p>Giới tính:</p>
                <select id="bGioiTinh" name="bGioiTinh">
                    <option value="">Chọn giới tính</option>
                    <option value=true>Nam</option>
                    <option value=false>Nữ</option>
                </select>
                <p>Trạng thái:</p>
                <select id="bTrangThai" name="bTrangThai">
                    <option value="">Chọn trạng thái</option>
                    <option value=true>Làm</option>
                    <option value=false>Nghỉ làm</option>
                </select>
                <p>Địa chỉ:</p>
                <input type="text" id="sDiaChi" maxlength="100" name="sDiaChi" placeholder="Địa chỉ">
                <p>Ngày vào làm:</p>
                <input type="date" id="dNgayvaolam" name="dNgayvaolam" placeholder="Ngày vào làm">
                <p>Số điện thoại:</p>
                <input type="text" id="sSDT" maxlength="10" name="sSĐT" placeholder="SDT">
                <p>Lương:</p>
                <input type="text" id="fLuong" name="fLuong" placeholder="Lương">
                <p>CCCD:</p>
                <input type="text" id="sCCCD" maxlength="13" name="sCCCD" placeholder="CCCD">
                <p>Mật khẩu:</p>
                <input type="text" id="sMatkhau" name="sMatkhau" placeholder="Mật khẩu">
                <div class="form-buttons">
                    <button type="submit" class="btn btn-primary">Thêm</button>
                    <button type="reset" class="btn btn-secondary close-btn">Hủy</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Modal Form -->
    <div id="employeeModalU" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 id="modalTitle">Sửa Nhân Viên</h2>
            <form action="/cnhanvien/Update" id="employeeFormU" method="post">
                <p>Mã nhân viên:</p>
                <p id="pMaNVU"></p>
                <input type="hidden" id="sMaNVU" name="sMaNV" value="">
                <p>Tên nhân viên:</p>
                <input type="text" id="sTenNVU" name="sTenNV" placeholder="Tên NV">
                <p>Ngày sinh:</p>
                <input type="date" id="dNgaysinhU" name="dNgaysinh" placeholder="Ngày sinh">
                <p>Giới tính:</p>
                <select id="bGioiTinhU" name="bGioiTinh">
                    <option value="">Chọn giới tính</option>
                    <option value=true>Nam</option>
                    <option value=false>Nữ</option>
                </select>
                <p>Trạng thái:</p>
                <select id="bTrangThaiU" name="bTrangThai">
                    <option value="">Chọn trạng thái</option>
                    <option value=true>Làm</option>
                    <option value=false>Nghỉ làm</option>
                </select>
                <p>Địa chỉ:</p>
                <input type="text" id="sDiaChiU" maxlength="100" name="sDiaChi" placeholder="Địa chỉ">
                <p>Ngày vào làm:</p>
                <input type="date" id="dNgayvaolamU" name="dNgayvaolam" placeholder="Ngày vào làm">
                <p>Số điện thoại:</p>
                <input type="text" id="sSDTU" maxlength="10" name="sSĐT" placeholder="SDT">
                <p>Lương:</p>
                <input type="text" id="fLuongU" name="fLuong" placeholder="Lương">
                <p>CCCD:</p>
                <input type="text" id="sCCCDU" maxlength="13" name="sCCCD" placeholder="CCCD">
                <p>Mật khẩu:</p>
                <input type="text" id="sMatkhauU" name="sMatkhau" placeholder="Mật khẩu">
                <div class="form-buttons">
                    <button type="submit" class="btn btn-primary ">Cập nhật</button>
                    <button type="reset" class="btn btn-secondary close-btn">Hủy</button>
                </div>
            </form>
        </div>
    </div>
    <script>
         function onUpdateNV(maNV) {

          var employees = @Html.Raw(Json.Encode(Model));
         for (var i = 0; i < employees.length; i++) {
         if (employees[i].sMaNV === maNV) {
         employee = employees[i];
         break;
         }
         }
         $('#employeeModalU').css('display', 'block');
         document.getElementById('pMaNVU').textContent = employee.sMaNV;
         document.getElementById('sMaNVU').value = employee.sMaNV;
         document.getElementById('sTenNVU').value = employee.sTenNV;
         document.getElementById('dNgaysinhU').value = convertJsonDate(employee.dNgaysinh);
         document.getElementById('bGioiTinhU').value = employee.bGioitinh;
         document.getElementById('bTrangThaiU').value = employee.bTrangthai;
         document.getElementById('sDiaChiU').value = employee.sDiachi;
         document.getElementById('dNgayvaolamU').value = convertJsonDate(employee.dNgayvaolam);
         document.getElementById('sSDTU').value = employee.sSĐT;
         document.getElementById('fLuongU').value = employee.fLuong;
         document.getElementById('sCCCDU').value = employee.sCCCD;
         document.getElementById('sMatkhauU').value = employee.sMatkhau;
         }
         function convertJsonDate(jsonDate) {
         // Extract timestamp from "/Date(799657200000)/"
         var timestamp = parseInt(jsonDate.match(/\d+/)[0]);

         // Create a Date object
         var date = new Date(timestamp);

         // Format Date object to YYYY-MM-DD
         var formattedDate = date.toISOString().slice(0, 10);

         return formattedDate;
         }

         const formS = document.getElementById('formSearch')
         formS.addEventListener('submit', function (event) {
         event.preventDefault();
         let searchk = document.getElementById('searchtext').value.trim();
         if (!searchk) {
         alert("Vui lòng nhập từ khóa!");
         return;
         } else {
         $.ajax({
         url: '@Url.Action("Search", "cNhanVien")',
         type: 'POST',
         data: {
         searchtext: searchk
         },
         success: function (result) {
         if (result.success) {
             $('#tablenv').html(result.html);
         } else {
             alert(result.message);
         }
         },
         error: function (xhr, status, error) {
         alert('Error: ' + error);
         }
         });
         }
         });




         $(document).ready(function () {
         // Open modal when clicking "Thêm Nhân Viên"
         $('#addButton').click(function () {
         $('#employeeModal').css('display', 'block');
         });


         // Close modal when clicking the close button
         $('.close, .close-btn').click(function () {
         $('#employeeModal').css('display', 'none');
         $('#employeeModalU').css('display', 'none');
         });

         // Close modal when clicking outside of the modal
         $(window).click(function (event) {
         if (event.target.id === 'employeeModal') {
             $('#employeeModal').css('display', 'none');
             $('#employeeModalU').css('display', 'none');
         }
         });


         });

         const formA = document.getElementById('employeeForm')

         // Trong form thêm mới
         formA.addEventListener('submit', function (event) {
         event.preventDefault();
         // Declare the variables
         let sMaNVI = document.getElementById('sMaNVI').value.trim();
         let sTenNV = document.getElementById('sTenNV').value.trim();
         let dNgaysinh = document.getElementById('dNgaysinh').value.trim();
         let bGioiTinh = document.getElementById('bGioiTinh').value.trim();
         let bTrangThai = document.getElementById('bTrangThai').value.trim();
         let sDiaChi = document.getElementById('sDiaChi').value.trim();
         let dNgayvaolam = document.getElementById('dNgayvaolam').value.trim();
         let sSDT = document.getElementById('sSDT').value.trim();
         let fLuong = document.getElementById('fLuong').value.trim();
         let sCCCD = document.getElementById('sCCCD').value.trim();
         let sMatkhau = document.getElementById('sMatkhau').value.trim();

         // Call the checkRong() function with the declared variables
         if (checkRong(false, sMaNVI, sTenNV, dNgaysinh, bGioiTinh, bTrangThai, sDiaChi, dNgayvaolam, sSDT, fLuong, sCCCD, sMatkhau)) {
         // Code to be executed if the checkRong() function returns true

         return;
         }


         if (checkValid(sMaNVI, sTenNV, dNgaysinh, dNgayvaolam, sSDT, sCCCD, fLuong, sMatkhau)) {
         SendNV(false,
             $('#sMaNVI').val(),
             $('#sTenNV').val(),
             $('#dNgaysinh').val(),
             $('#bGioiTinh').val(),
             $('#bTrangThai').val(),
             $('#sDiaChi').val(),
             $('#dNgayvaolam').val(),
             $('#sSDT').val(),
             $('#fLuong').val(),
             $('#sCCCD').val(),
             $('#sMatkhau').val()
         );
         }
         });

         function SendNV(updatemode,sMaNV, sTenNV, dNgaysinh, bGioitinh, bTrangthai, sDiachi, dNgayvaolam, sSĐT, fLuong, sCCCD, sMatkhau) {
         let action = '';
         if (updatemode == false) {
         action = '@Url.Action("Create", "cNhanVien")';
         }
         else {
         action = '@Url.Action("Update", "cNhanVien")';
         }

         $.ajax({
         url: action,
         type: 'POST',
         data: {
         sMaNV: sMaNV,
         sTenNV: sTenNV,
         dNgaysinh: dNgaysinh,
         bGioitinh: bGioitinh,
         bTrangthai: bTrangthai,
         sDiachi: sDiachi,
         dNgayvaolam: dNgayvaolam,
         sSĐT: sSĐT,
         fLuong: fLuong,
         sCCCD: sCCCD,
         sMatkhau: sMatkhau
         },
         success: function (result) {
             if (result.success) {
                 alert(result.message);
                 window.location.href = '@Url.Action("Index", "cNhanVien")';
             }
             else {
                 alert(result.message);
             }
         },
         error: function(xhr, status, error) {
         var errorMessage = xhr.responseText;
         alert(errorMessage);
         }
         });
         }




         const formU = document.getElementById('employeeFormU')

         // Trong form cập nhật
         formU.addEventListener('submit', function (event) {
         event.preventDefault();
         // Declare the variables
         let sMaNVU = document.getElementById('sMaNVU').value.trim();
         let sTenNV = document.getElementById('sTenNVU').value.trim();
         let dNgaysinh = document.getElementById('dNgaysinhU').value;
         let bGioiTinh = document.getElementById('bGioiTinhU').value.trim();
         let bTrangThai = document.getElementById('bTrangThaiU').value.trim();
         let sDiaChi = document.getElementById('sDiaChiU').value.trim();
         let dNgayvaolam = document.getElementById('dNgayvaolamU').value;
         let sSDT = document.getElementById('sSDTU').value.trim();
         let fLuong = document.getElementById('fLuongU').value.trim();
         let sCCCD = document.getElementById('sCCCDU').value.trim();
         let sMatkhau = document.getElementById('sMatkhauU').value.trim();

         // Call the checkRong() function with the declared variables
         if (checkRong(true, sMaNVI, sTenNV, dNgaysinh, bGioiTinh, bTrangThai, sDiaChi, dNgayvaolam, sSDT, fLuong, sCCCD, sMatkhau)) {
         // Code to be executed if the checkRong() function returns true

         return;
         }

         if (checkValid(sMaNVU, sTenNV, dNgaysinh, dNgayvaolam, sSDT, sCCCD, fLuong, sMatkhau)) {
         SendNV(true,
             $('#sMaNVU').val(),
             $('#sTenNVU').val(),
             $('#dNgaysinhU').val(),
             $('#bGioiTinhU').val(),
             $('#bTrangThaiU').val(),
             $('#sDiaChiU').val(),
             $('#dNgayvaolamU').val(),
             $('#sSDTU').val(),
             $('#fLuongU').val(),
             $('#sCCCDU').val(),
             $('#sMatkhauU').val()
         );
         }
         });

         function checkRong(isUpdate, sMaNV, sTenNV, dNgaysinh, bGioiTinh, bTrangThai, sDiaChi, dNgayvaolam, sSĐT, fLuong, sCCCD, sMatkhau) {
         let isValid = false;
         if (isUpdate == false) {
         if (!sMaNV) {
             isValid = true;
             alert("Vui lòng nhập mã nhân viên");
         }
         }
         if (!sTenNV) {
         isValid = true;
         alert("Vui lòng nhập tên nhân viên");
         }

         if (!dNgaysinh) {
         isValid = true;
         alert("Vui lòng chọn ngày sinh");
         }

         if (!bGioiTinh) {
         isValid = true;
         alert("Vui lòng chọn giới tính");
         }
         if (!bTrangThai) {
         isValid = true;
         alert("Vui lòng chọn trạng thái");
         }

         if (!sDiaChi) {
         isValid = true;
         alert("Vui lòng nhập địa chỉ");
         }

         if (!dNgayvaolam) {
         isValid = true;
         alert("Vui lòng nhập ngày vào làm");
         }

         if (!sSĐT) {
         isValid = true;
         alert("Vui lòng nhập số điện thoại");
         }

         if (!fLuong) {
         isValid = true;
         alert("Vui lòng nhập lương");
         }

         if (!sCCCD) {
         isValid = true;
         alert("Vui lòng nhập CCCD");
         }

         if (!sMatkhau) {
         isValid = true;
         alert("Vui lòng nhập mật khẩu");
         }

         return isValid;
         }



         function checkValid(sMaNV,sTenNV,dNgaysinh,dNgayvaolam,sSDT, sCCCD, fLuong,sMatkhau) {
         const psMaNV = /^(?=.*[A-Z])(?=.*\d)[A-Z0-9]+$/;
         const psTenNV = /^[\p{L}\s]+$/u;
         const pMatkhau = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\p{P}\p{S}])[a-zA-Z0-9\p{P}\p{S}]{8,10}$/u;
         const pSo = /^[0-9]+$/;
         var today = new Date();
         var dNgaysinh = new Date(dNgaysinh);
         var dNgayvaolam = new Date(dNgayvaolam);
         var age = today.getFullYear() - dNgaysinh.getFullYear();
         var monthDiff = today.getMonth() - dNgaysinh.getMonth();
         if (monthDiff < 0 || (monthDiff === 0 && today.getDate() < dNgaysinh.getDate())) {
         age--;
         }

         let isValid = true
         if (!psMaNV.test(sMaNV) || sMaNV.length>10) {
         alert("Mã nhân viên không đúng định dạng");
         isValid = false;
         }
         if (!psTenNV.test(sTenNV) || sTenNV.length>100) {
         alert("Tên nhân viên không đúng định dạng");
         isValid = false;
         }
         if (age < 18) {
         alert("Nhân viên phải đủ 18 tuổi trở lên");
         isValid = false;
         }
         if (dNgayvaolam > today) {
         alert("Ngày vào làm không hợp lệ");
         isValid = false;
         }


             if (!pSo.test(sSDT) || sSDT.length!=10) {
         alert("Số điện thoại không đúng định dạng")
         isValid = false;
             }
             if (!pSo.test(sCCCD) || sCCCD.length!=13) {
         alert("Số CCCD không hợp lệ")
         isValid = false;
         };
         if (!pSo.test(fLuong) || fLuong.length <= 0) {
         alert("Lương phải là số dương")
         isValid = false
         }

         if (!pMatkhau.test(sMatkhau)) {
         alert("Mật khẩu vừa nhập không đúng định dạng phải bao gồm chữ hoa thường,số, kí tự đặc biệt lớn hơn 8 và nhỏ hơn 10 kí tự");
         isValid = false;
         }
         return isValid
         }



    </script>
</body>
</html>
