@model List<BTL_NMCNPM_SE.G19_QLNSNhaNam.Models.View_XemDanhSachHoaDon>
<table>
    <thead>
        <tr>
            <th>Mã hóa đơn</th>
            <th>Mã nhân viên</th>
            <th>Ngày lập</th>
            <th>Tổng tiền</th>
            <th>Chi tiết</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var TTHoadon in Model)
        {
            <tr>
                <td>@TTHoadon.sMaHD</td>
                <td>@TTHoadon.sMaNV</td>
                <td>@TTHoadon.dNgaylap</td>
                <td>@String.Format("{0:N0} đ", TTHoadon.fTongHD)</td>
                <td>
                    <button class="view-details" data-mahd="@TTHoadon.sMaHD">Xem chi tiết</button>
                </td>
            </tr>
        }
    </tbody>
</table>
